.container{
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
}
header{
    background: burlywood;
    grid-area:header;
    color: aliceblue;
}
.menu{
    background:#ccc;
    padding:35px;
}
ul{
    list-style:none;
    padding:0;
}
footer{
    grid-area:footer;
    background: rgb(31, 191, 209);
}
body{
    margin: 0;
}
.plane{
    font-size: 45px;
    margin-top: 15px;
}
iframe{
    margin-bottom:30px;
}
a{
    margin-bottom:15px;
}
